api/evidence.schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bag">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evidence" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="file">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="path" type="xs:string"/>
                          <xs:element name="size" type="xs:positiveInteger"/>
                          <xs:sequence>
                            <xs:element name="filter" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                          </xs:sequence>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="user">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="login" type="xs:string"/>
                          <xs:element name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="time">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="modified" type="xs:dateTime"/>
                          <xs:element name="seized" type="xs:dateTime"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="hash" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="lines">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="line" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="nr" type="xs:positiveInteger"/>
                            <xs:attribute name="grp" type="xs:positiveInteger"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
